
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


:root{
    --main-color:#ec644b;
    
}
@import'blocks/title';
@import'blocks/btn';
@import'blocks/promo';
@import'blocks/benefits';
@import'blocks/work';
@import'blocks/price';
@import'blocks/manager';
@import'blocks/scheme';
@import'blocks/reviews';
@import'blocks/questions';
@import'blocks/map';





*{

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1140px;
    margin:0 auto;
    
}

.divider{
    width: 148px;
    height: 1px;
    background-color: var(--main-color);
    margin: 20px auto 0 auto;
}

@import'blocks/media';


/* for map */


#content{
    font-size: 14px;

    .firstHeading{
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: var(--main-color);
    }
    .site__link{
        color: var(--main-color);
    }
    
    .phone__link{
        color: black;
        text-decoration: none;
    }
    
}