.btn{
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding: 14px 35px;
    background-color: var(--main-color);
    border-radius: 50px;
    border:none;
    display: block;
    margin: 0 auto;
    cursor: pointer;

}