.title{
    font-size: 26px;
    text-align: center;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2e2e2e;
}

.subtitle{
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    color: #2e2e2e;
    margin-top: 17px;
}